.Services {
  min-height: 300px;
  margin: 4em 0;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.Services .title {
  margin: 1rem;
  font-size: 5em;
}

.Services .subtitle {
  margin: 1rem auto;
  font-size: 2.2em;
  max-width: 20em;
}

.Services .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 1em auto;
}

.Services .grid-item {
  padding: 1em 2em;
  font-size: 1.4em;
}
