.AboutCompany .section .header {
  margin-bottom: 0.5rem;
  padding-top: 1.2rem;
  font-size: 1.6rem;
}

.AboutCompany .section .description {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: normal;
}
