{
  "extends": "cooperka/react",

  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "jest": true
  },

  "globals": {
    "__DEV__": true
  },

  "rules": {
    // Recognize the valid 'to' attribute for react-router.
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"]
    }],

    // We can deal with this if there are performance issues;
    // it's easier to write and modify components when things are consistent.
    "react/prefer-stateless-function": "off"
  }
}
