.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #222;
}

.main-header {
  margin: 2em;
  margin-bottom: 0;
  color: white;
}

.main-logo {
  height: 8em;
  animation: main-logo-spin infinite 20s linear;
}

.main-title {
  margin: 1rem;
  font-size: 5em;
}

.main-subtitle {
  margin: 1rem;
  font-size: 2.2em;
}

.social-links {
  margin: 2em;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.social-link {
  margin: .5rem;
  padding: .5rem;
  font-size: 1.6em;
}

@keyframes main-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
