.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-header {
  margin: 2em;
  margin-bottom: 0;
  color: white;
}

.profile-photo {
  height: 16em;
  border-radius: 8em;
}

.main-title {
  margin: 1rem;
  font-size: 5em;
}

.main-subtitle {
  margin: 1rem;
  font-size: 2.2em;
}

.social-links {
  margin: 2em;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

li.social-link {
  display: inline-block;
}

a.social-link {
  margin: .5rem;
  padding: .5rem;
  display: inline-block;
}

.social-icon {
  height: 4em;
}
