.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #444;
  margin: 0 12px;
}

.page {
  min-height: 30rem;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.section {
  margin: 1rem auto;
  max-width: 55rem;
}

.title {
  margin: 1rem;
  font-size: 5rem;
}

.subtitle {
  margin: 1rem auto;
  font-size: 2.2rem;
  max-width: 44rem;
}
