.NavButton .link-text {
  font-size: 1.1rem;
  line-height: normal;
}

.NavButton.active .link-text {
  text-decoration: underline;
}

.NavButton a {
  text-decoration: none;
}

.NavButton.bordered {
  border: 2px solid #444;
}
