li.social-link {
  display: inline-block;
}

a.social-link {
  margin: .5rem;
  padding: .5rem;
  width: 4em;
  height: 4em;
  display: inline-block;
}

.social-icon {
  height: 4em;
  position: absolute;
}

.social-icon.black {
  opacity: 1;
  transition: all .2s ease;
}
a.social-link:hover .black {
  opacity: 0;
}

.social-icon.color {
  opacity: 0;
  transition: all .2s ease;
}
a.social-link:hover .color {
  opacity: 1;
}
