.social-link-item {
  display: inline-block;
}

.social-link-anchor {
  margin: .5rem;
  padding: .5rem;
  width: 4em;
  height: 4em;
  display: inline-block;
}

.social-icon {
  height: 4em;
  transition: all .2s ease;
}

.social-icon.first {
  position: absolute;
}

.social-icon.black {
  opacity: 1;
}
.social-link-anchor:hover .social-icon.black {
  opacity: 0;
  transform: scale(1.1);
}

.social-icon.color {
  opacity: 0;
}
.social-link-anchor:hover .social-icon.color {
  opacity: 1;
  transform: scale(1.1);
}
