.MainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  margin: 80px 0 0 0; /* Top margin to account for the nav bar. */
  padding-top: 2em;
  color: #444;
  font-weight: bold;
}

.MainHeader .title {
  margin: 1rem;
  font-size: 5em;
}

.MainHeader .subtitle {
  margin: 1rem auto;
  font-size: 2.2em;
  max-width: 20em;
}

.MainHeader .buttons {
  margin: 1rem auto;
}
