.Footer {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.Footer div {
  margin: 0.4rem;
  font-size: 1.2rem;
}

.Footer .social-links {
  padding: 0;
  list-style: none;
}
