.Hero {
  min-height: 30rem;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.Hero .title {
  margin: 1rem;
  font-size: 5rem;
}

.Hero .subtitle {
  margin: 1rem auto;
  font-size: 2.2rem;
  max-width: 44rem;
}

.Hero .buttons {
  margin: 1rem auto;
}
