html {
  height: 100%;
  font-size: 62.5%;
}

body {
  /* Padding and positioning to account for the nav bar and footer. */
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 64px 0 160px 0;

  font-family: Roboto, sans-serif;

  background: #FFF;
}
