html {
  /* Override AMP's style. */
  height: 100%!important;

  font-size: 62.5%;
}

body {
  /* Padding and positioning to account for the nav bar and footer. */
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 64px 0 160px 0;

  /* Undo AMP's style. */
  height: unset!important;

  font-family: Roboto, sans-serif;

  background: #FFF;
}
